.header{
    display: flex;
    flex-direction: column;
    padding: 100px;
    background:linear-gradient(135deg,#b8b8b8, #d1d1d1,#636363,#a5a5a5,#707070)
}
.pixls{
    font-size:87px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(22, 45, 80);
    text-align: center;
    padding-left:50px;
    padding-right:50px;
    
}
.tag{
     text-align: center;
     font-family: 'courier new', courier, monospace;
     font-size: 36px;
     color: rgb(10, 51, 51);
}
.btn{
    width:100px;
    height:auto;
    align-items: center;
    background-color: rgb(83, 93, 121);
    color:aliceblue;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    margin-left: 800px;
    margin-bottom: 20px;
    margin-top:20px;
}
#game{
    display: flex;
    flex-direction: column;
    background:linear-gradient(135deg,#c7d7da, #c4e7f5,#636363,#a4def0,#8be4f0)
}
.roll{
    align-items: center;
    margin-left: 800px;
    font-family: 'Courier New', Courier, monospace;
    margin-top:20px;
    margin-bottom:20px;
    font-size: 36px;
}
.hands{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    padding:50px
}
.hand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
.rock,.paper,.scissors{
    width: 200px;
    height: auto;
    border-radius: 10px;
    border:2px;
    cursor: pointer;
   
}
.hand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.p{
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    
}
.rock:hover,.paper:hover,.scissors:hover{
    border: 4px solid rgb(199, 208, 233);
    transform: scale(1.05);
    transition: transform 0.3s;

}
.result{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
#result-box{
    display: inline-block;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
    width:200px;
    height:100px;
   
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    font-weight: 700;
    word-wrap: break-word;
   
}
#computer-box{
    display: inline-block;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
    width:200px;
    height:100px;
   
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    font-weight: 700;
    word-wrap: break-word;
}
.final,.cmptr{
    display:flex;
    flex-direction: column;
    padding:10px;
}
